.MuiContainer-root {
  overflow: visible;
}

.title {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: #3f51b5;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid #3f51b5;
}

.reports-container {
  position: relative;
  min-height: calc(100vh - 50px); /* Adjust based on your header height */
  padding-top: 64px;
  background-color: #333844;
  color: aliceblue;
}

.MuiGrid2-root {
  color: aliceblue;
}

.MuiTypography-root {
    color: aliceblue;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.MuiBox-root {
    color: aliceblue;
}

.MuiDivider-root {
    color: aliceblue;
}

.pokemon-characters {
  display: flex;
  justify-content: space-between;
  height: 100px;
  position: static;
  top: 100%;
}

.clefairy-chat {
  position: relative;
  left: 10%;
  display: flex;
  align-items: flex-end;
}

.clefairy-chat .MuiSvgIcon-root {
  max-width: 400px;
  max-height: 5em;
  transform: scaleX(3.5);
}

.chat-bubble {
  position: absolute;
  bottom: 100%;
  left: calc(100% + 225px); /* Position it 10px to the right of the Clefairy image */
  transform: translateY(70%); /* Adjust vertical position */
  width: 200px;
  pointer-events: auto;
  z-index: 1;
}

.clefairy-image {
  width: 200px;
  height: auto;
  position: absolute;
  top: 100%;
  z-index: 2;
}

.snorlax-container {
  max-width: 400px;
}

.snorlax-image {
  width: 450px;
  height: auto;
}

@media (max-width: 600px) {
  .title {
    font-size: 1.5rem;
  }

  .MuiTypography-h6 {
    font-size: 1.1rem;
  }

  .MuiTypography-body1 {
    font-size: 0.9rem;
  }

  .clefairy-chat,
  .snorlax-container {
    display: none;
  }
}

@media (max-width: 768px) {
  .reports-container {
    padding-bottom: 100px;
  }

  .pokemon-characters {
    display: flex;
    height: 100px;
  }

  .clefairy-image,
  .snorlax-image {
    width: 75px;
  }

  .chat-bubble {
    height: auto;
    width: 150px;
    left: calc(100% + 5px); /* Adjust for smaller screens */
  }
}

@media (max-width: 480px) {
  .reports-container {
    padding-bottom: 80px;
  }

  .pokemon-characters {
    height: 80px;
  }

  .clefairy-image,
  .snorlax-image {
    width: 60px;
  }

  .chat-bubble {
    width: 120px;
    left: calc(100% + 3px); /* Further adjust for even smaller screens */
  }
}