.title {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: #3f51b5;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid #3f51b5;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.reports-container {
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: aliceblue;
}

.MuiGrid2-root {
  color: aliceblue;
}

.MuiTypography-root {
    color: aliceblue;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.MuiBox-root {
    color: aliceblue;
}

.MuiDivider-root {
    color: aliceblue;
}

.clefairy-chat {
  position: fixed;  /* Changed from absolute to fixed */
  bottom: 0%;  /* Changed from top to bottom */
  left: 10%;  /* Changed from right to left */
  z-index: 1;
  display: flex;
  align-items: flex-end;  /* Changed from flex-start to flex-end */
}

.clefairy-chat .MuiSvgIcon-root {
  width: 20em;
  height: 5em;
  transform: scaleX(3.5);
}

.chat-bubble {
  position: absolute;
  bottom: 100%;  /* Changed from top to bottom */
  left: 50%;  /* Changed from right to left */
  transform: translateX(-50%);  /* Centers the bubble horizontally */
  z-index: 1;
  width: 200px;
}

.clefairy-image {
  width: 200px;
  margin-right: 0;  /* Removed negative margin */
}
.snorlax-container {
  position: absolute;
  top: 65%;
  right: -1%;
  z-index: 1;
  overflow-y: hidden;
  height: 37%;
}

.snorlax-image {
  width: 400px;
  height: 400px;
}